html,
body {
  height: 100%;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.container-big {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1540px;
}
