html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.container-big {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1540px;
}
