@media (max-width: 1000px) {
  .container {
    max-width: 980px;
  }

  .menu {
    .menu__list {
      gap: 20px;
    }
  }
  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }

  .header {
    &__inner {
      display: flex;
      align-items: center;
    }

    .header__lang {
      display: none;
    }

    .header__btn {
      display: inline-block;
      position: relative;
      z-index: 10;
    }

    .logo {
      margin-bottom: 0;
    }

    .menu {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 100px 0 100px;
      background-color: #fff;
      color: #000;
      transform: translateY(-100%);
      transition: transform 0.5s ease;
      &--active {
        transform: translateY(0%);
      }
      &__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .header__logo {
      width: auto;
    }
  }

  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .footer__menu-list {
      flex-wrap: wrap;
      gap: 20px 100px;
    }
    .footer__bottom-inner {
      padding: 10px 0px 10px 0px;
    }
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 360px;
  }
  .footer {
    .footer__menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
    }

    &__bottom {
      font-size: 11px;
      .footer__bottom-inner {
        padding: 10px 0px 10px 0px;
      }
    }
  }
}
