@media (max-width: 1124px) {
  .main {
    .page-404 {
      &__content-title {
        font-size: 100px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 980px;
  }

  .menu {
    .menu__list {
      gap: 20px;
    }
  }

  .main {
    .new-collection {
      &__content {
        padding-top: 50px;
        padding-right: 10px;
      }
      padding: 100px 0px;
      &__box {
        padding: 0px 5px;
      }
      &__inner {
        padding-left: 0;
      }
      &__img {
        padding-top: 50px;
      }
      .new-collection__box-img {
        width: 300px;
      }
    }
    .david-beckham {
      &__inner {
        padding: 90px 0px 150px 0px;
        gap: 20px;
      }
      &__content {
        max-width: 50%;
        padding: 0;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }

    .our-advantages {
      &__inner {
        max-width: 485px;
      }
      &__list {
        columns: 2;
      }
      &__img {
        left: -10px;
      }
    }
  }

  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 900px) {
  .main {
    .our-advantages {
      &__wrapper {
        padding: 30px 0;
      }
      &__inner {
        max-width: 350px;
      }
      &__title {
        margin-bottom: 30px;
      }
      &__item {
        margin-bottom: 20px;
      }
      &__list {
        columns: 1;
      }
      &__img {
        left: -10px;
      }
    }
    .our-blog {
      .our-blog__box-btn {
      }
    }
    .page-404 {
      &__content-img {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }

  .header {
    &__inner {
      display: flex;
      align-items: center;
    }

    .header__lang {
      display: none;
    }

    .header__btn {
      display: inline-block;
      position: relative;
      z-index: 10;
    }

    .logo {
      margin-bottom: 0;
    }

    .menu {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 100px 0 100px;
      background-color: #fff;
      color: #000;
      transform: translateY(-100%);
      transition: transform 0.5s ease;
      &--active {
        transform: translateY(0%);
      }
      &__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .header__logo {
      width: auto;
    }
  }

  .main {
    .top {
      min-height: 768px;
      &__title {
        margin-bottom: 20px;
      }
    }

    .new-collection {
      padding: 50px 0px;
      &__inner {
        padding: 0;
        gap: 10px;
      }
      &__content {
        padding-right: 0;
      }
      &__box {
        display: none;
      }
    }

    .join-us {
      &__inner {
        gap: 20px;
      }
    }

    .david-beckham {
      &__content {
        padding: 0;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          display: none;
        }
      }
      &__img {
        margin-bottom: 20px;
        height: 500px;
      }
    }

    .our-advantages {
      &__wrapper {
        padding: 30px 0;
      }
      &__inner {
        max-width: 259px;
      }
      &__list {
        columns: 1;
      }
      &__img {
        width: 320px;
        left: -10px;
      }
    }
    .our-blog {
      padding-top: 80px;

      &__inner {
        grid-template-columns: repeat(2, 1fr);
      }
      &__right-box {
        max-width: 100%;
      }
    }
    .page-404 {
      &__img {
        display: none;
      }
      &__content {
        margin: 22vh 0px 0px 0px;
      }
      &__content-img {
        display: block;
      }
    }
  }

  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 576px) {
  .main {
    .top {
      min-height: 474px;
      &__inner {
        padding-top: 20vh;
      }
      &__title {
        max-width: 274px;
        margin-bottom: 20px;
      }
      &__link {
        padding: 12px 20px;
      }
    }

    .new-collection {
      &__content {
        padding: 0;
      }
      &__link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
      &__img {
        padding: 0;
        img {
          height: 420px;
        }
      }
    }

    .join-us {
      &__content {
        margin-top: 50px;
      }
      &__inner {
        gap: 10px;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 30px;
      }
    }
    .david-beckham {
      &__text {
        font-size: 14px;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
    .our-advantages {
      &__wrapper {
        padding: 130px 0px 30px 0px;
      }
      &__inner {
        margin: 0 auto;
        max-width: 380px;
      }
      &__img {
        object-position: 50% 30%;
        top: -100px;
        left: 0;
        width: 100%;
        height: 200px;
      }
    }
    .our-blog {
      padding: 80px 0 40px;
      &__inner {
        grid-template-columns: 1fr;
      }
      .our-blog__box-btn {
        margin: 30px 0px;
      }
    }
    .page-404 {
      &__inner {
        flex-direction: column;
      }
      &__content {
        margin: 50px auto 0px;
      }
    }
  }
  .footer {
    .footer__menu-list {
      flex-wrap: wrap;
      gap: 20px 100px;
    }
    .footer__bottom-inner {
      padding: 10px 0px 10px 0px;
    }
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 360px;
  }
  .main {
    .david-beckham {
      &__text {
        font-size: 14px;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    .our-blog {
      .our-blog__text {
        margin-bottom: 40px;
      }
      .our-blog__box-btn {
        margin-top: 40px;
      }
      .our-blog__bottom-box {
        display: none;
      }
    }
    .page-404 {
      &__content-title {
        margin-bottom: 40px;
      }
      &__content-link {
        margin-bottom: 40px;
      }
    }
  }
  .new-collection {
    &__text {
      &:last-of-type {
        display: none;
      }
    }
    &__img {
      img {
        height: 160px;
      }
    }
  }

  .footer {
    .footer__menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
    }

    &__bottom {
      font-size: 11px;
      .footer__bottom-inner {
        padding: 10px 0px 10px 0px;
      }
    }
  }
}
