@media (max-width: 1250px) {
  .main {
  }
}

@media (max-width: 1124px) {
  .main {
    .page-404 {
      &__content-title {
        font-size: 100px;
      }
    }
    .checkout {
      &__content {
        gap: 20px;
      }
      &__details {
        min-width: auto;
      }
      .order__list-box {
        font-size: 22px;
      }
    }
    .blog-main__inner {
      flex-direction: column;
      img {
        object-fit: cover;
        object-position: center;
        min-width: 100%;
      }
    }
    .blog-main__text {
      margin-bottom: 30px;
    }
    .blog__search-form {
      width: 160px;
    }
    .select__wrapper {
      width: 160px;
    }
    .blog__item-title {
      font-size: 18px;
    }
    .blog__nav-title {
      font-size: 24px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 980px;
  }

  .menu {
    .menu__list {
      gap: 20px;
    }
  }

  .main {
    .new-collection {
      &__content {
        padding-top: 50px;
        padding-right: 10px;
      }
      padding: 100px 0px;
      &__box {
        padding: 0px 5px;
      }
      &__inner {
        padding-left: 0;
      }
      &__img {
        padding-top: 50px;
      }
      .new-collection__box-img {
        width: 300px;
      }
    }
    .david-beckham {
      &__inner {
        padding: 90px 0px 150px 0px;
        gap: 20px;
      }
      &__content {
        max-width: 50%;
        padding: 0;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }

    .our-advantages {
      &__inner {
        max-width: 485px;
      }
      &__list {
        columns: 2;
      }
      &__img {
        left: -10px;
      }
    }
    .collections {
      &__inner {
        grid-template-areas: none;
        grid-template-columns: repeat(3, 1fr);
        img {
          width: 100%;
          height: 100%;
        }
        picture {
          height: 100%;
        }
      }

      &__item {
        position: relative;
        &:nth-child(1) {
          grid-area: auto;
        }
        &:nth-child(2) {
          grid-area: auto;
        }
        &:nth-child(3) {
          grid-area: auto;
        }
        &:nth-child(4) {
          grid-area: auto;
        }
        &:nth-child(5) {
          grid-area: auto;
        }

        &:nth-child(6) {
          grid-area: auto;
          margin-top: 0;
        }
        &:nth-child(7) {
          grid-area: auto;
          margin-top: 0;
        }
        &:nth-child(8) {
          grid-area: auto;
        }
        &:nth-child(9) {
          grid-area: auto;
        }
        &:nth-child(10) {
          grid-area: auto;
        }
      }
    }
    .checkout {
      &__content {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }

  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 900px) {
  .main {
    .our-advantages {
      &__wrapper {
        padding: 30px 0;
      }
      &__inner {
        max-width: 350px;
      }
      &__title {
        margin-bottom: 30px;
      }
      &__item {
        margin-bottom: 20px;
      }
      &__list {
        columns: 1;
      }
      &__img {
        left: -10px;
      }
    }
    .our-blog {
      .our-blog__box-btn {
      }
    }
    .page-404 {
      &__content-img {
        display: none;
      }
    }
    .reviews__top {
      margin-bottom: 40px;
    }
    .reviews__top-title {
      font-size: 46px;
    }
    .reviews__top-link {
      font-size: 20px;
    }
  }
  .blog-main {
    .blog-main__content-link {
      padding: 20px 40px;
      font-size: 18px;
    }
    .blog-main__link {
      margin-bottom: 20px;
    }
    &__inner {
      flex-direction: column-reverse;
    }
    .blog-main__img {
      width: 100%;
    }
    &__img {
      object-fit: cover;
      object-position: center;
      min-width: 100%;
    }
  }
  .blog {
    .blog__list {
      grid-template-columns: repeat(3, 1fr);
    }
    .blog__item {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }

  .header {
    &__inner {
      display: flex;
      align-items: center;
    }

    .header__lang {
      display: none;
    }

    .header__btn {
      display: inline-block;
      position: relative;
      z-index: 10;
    }

    .logo {
      margin-bottom: 0;
    }

    .menu {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 100px 0 100px;
      background-color: #fff;
      color: #000;
      transform: translateY(-100%);
      transition: transform 0.5s ease;
      &--active {
        transform: translateY(0%);
      }
      &__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .header__logo {
      width: auto;
    }
  }

  .main {
    .top {
      min-height: 768px;
      &__title {
        margin-bottom: 20px;
      }
    }

    .new-collection {
      padding: 50px 0px;
      &__inner {
        padding: 0;
        gap: 10px;
      }
      &__content {
        padding-right: 0;
      }
      &__box {
        display: none;
      }
    }

    .join-us {
      &__inner {
        gap: 20px;
      }
    }

    .david-beckham {
      &__content {
        padding: 0;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          display: none;
        }
      }
      &__img {
        margin-bottom: 20px;
        height: 500px;
      }
    }

    .our-advantages {
      &__wrapper {
        padding: 30px 0;
      }
      &__inner {
        max-width: 259px;
      }
      &__list {
        columns: 1;
      }
      &__img {
        width: 320px;
        left: -10px;
      }
    }
    .our-blog {
      padding-top: 80px;

      &__inner {
        grid-template-columns: repeat(2, 1fr);
      }
      &__right-box {
        max-width: 100%;
      }
    }
    .page-404 {
      &__img {
        display: none;
      }
      &__content {
        margin: 22vh 0px 0px 0px;
      }
      &__content-img {
        display: block;
      }
    }
    .collections {
      &__inner {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .top-collections {
      min-height: 500px;
    }
    .checkout {
      &__top {
        margin-bottom: 30px;
      }
      &__details-items {
        margin-bottom: 80px;
      }
      .order {
        margin-top: 80px;
      }
    }
    .blog__nav {
      position: relative;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
    .blog__nav-btns {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-left: 85px;
    }
    .blog__search-form {
      width: 300px;
    }
    .blog__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 10px;
    }
  }

  .footer {
    .footer__menu-list {
      padding-bottom: 30px;
      position: relative;
    }
    .footer__menu-logo {
      position: absolute;
      top: 15px;
    }
    .footer__elements {
      flex-wrap: wrap;
    }
    .footer__bottom-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (max-width: 576px) {
  .main {
    .top {
      min-height: 474px;
      &__inner {
        padding-top: 20vh;
      }
      &__title {
        max-width: 274px;
        margin-bottom: 20px;
      }
      &__link {
        padding: 12px 20px;
      }
    }

    .new-collection {
      &__content {
        padding: 0;
      }
      &__link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
      &__img {
        padding: 0;
        img {
          height: 420px;
        }
      }
    }

    .join-us {
      &__content {
        margin-top: 50px;
      }
      &__inner {
        gap: 10px;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 30px;
      }
    }
    .david-beckham {
      &__text {
        font-size: 14px;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
    .our-advantages {
      &__wrapper {
        padding: 130px 0px 30px 0px;
      }
      &__inner {
        margin: 0 auto;
        max-width: 380px;
      }
      &__img {
        object-position: 50% 30%;
        top: -100px;
        left: 0;
        width: 100%;
        height: 200px;
      }
    }
    .our-blog {
      padding: 80px 0 40px;
      &__inner {
        grid-template-columns: 1fr;
      }
      .our-blog__box-btn {
        margin: 30px 0px;
      }
    }
    .page-404 {
      &__inner {
        flex-direction: column;
      }
      &__content {
        margin: 50px auto 0px;
      }
    }
    .blog-one {
      &__stats {
        flex-direction: column;
        align-items: flex-start;
      }
      &__content {
        h2 {
          margin-bottom: 30px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
    .appointment {
      &__title {
        margin-bottom: 50px;
      }
      &__form-title {
        margin-bottom: 30px;
      }
      &__form-input {
        margin-bottom: 16px;
        font-size: 16px;
      }
    }
    .checkout {
      &__title {
        font-size: 52px;
      }
      &__details-title {
        padding-bottom: 15px;
        font-size: 32px;
        margin-bottom: 20px;
      }
      &__item-title {
        margin-bottom: 24px;
        font-size: 16px;
      }
      &__item-listbox {
        font-size: 14px;
      }
      &__info-box {
        gap: 20px 10px;
        font-size: 14px;
        input,
        select {
          padding: 20px;
        }
      }
      &__info-box-marker::before {
        display: none;
      }
      &__info-box-arrow::before {
        display: none;
      }
      &__info-box-label {
        font-size: 14px;
      }
    }
    .reviews__top {
      flex-direction: column;
    }
    .reviews__item-text {
      font-size: 14px;
    }
    .reviews-swiper {
      margin-bottom: 60px;
    }
    .reviews__top-title {
      font-size: 30px;
    }
    .reviews__top-link {
      font-size: 16px;
    }
    .reviews__slider-addreview {
      margin-top: 20px;
      padding: 20px 60px;
    }
  }
  .footer {
    .footer__menu-list {
      flex-wrap: wrap;
      gap: 20px 100px;
    }
    .footer__bottom-inner {
      padding: 10px 0px 10px 0px;
    }
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 360px;
  }
  .main {
    .david-beckham {
      &__text {
        font-size: 14px;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    .our-blog {
      .our-blog__text {
        margin-bottom: 40px;
      }
      .our-blog__box-btn {
        margin-top: 40px;
      }
      .our-blog__bottom-box {
        display: none;
      }
    }
    .page-404 {
      &__content-title {
        margin-bottom: 40px;
      }
      &__content-link {
        margin-bottom: 40px;
      }
    }
    .appointment {
      &__inner {
        grid-template-columns: 1fr;
        gap: 30px;
      }
      &__form {
        margin: 0 auto;
        max-width: 220px;
      }
      &__form-title {
        text-align: center;
      }

      &__picture-img {
        order: -1;
      }
      &__img {
        height: 250px;
      }
    }
    .collections {
      &__inner {
        grid-template-columns: 1fr;
      }
    }
    .top-collections {
      width: 100vw;
    }
    .checkout {
      &__top {
        svg {
          display: none;
        }
      }
    }
    .blog-main__title-link {
      font-size: 30px;
    }
    .blog-main__text {
      font-size: 18px;
    }
    .blog__list {
      grid-template-columns: 1fr;
    }
    .blog__search-form {
      width: 200px;
    }
  }

  .new-collection {
    &__text {
      &:last-of-type {
        display: none;
      }
    }
    &__img {
      img {
        height: 160px;
      }
    }
  }

  .footer {
    .footer__menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
    }

    &__bottom {
      font-size: 11px;
      .footer__bottom-inner {
        padding: 10px 0px 10px 0px;
      }
    }
  }
}
