$black-bg-color: #000;
$black-text-color: #000;

$promo-bg-color: #cdcdcd;
$button-bg-color: #161515;

$secondary-color-text: #fff;
$secondary-color-btn: #fff;

$basic-color-text: #4f4f4f;
$basic-dark-color-text: #161515;
$basic-color-bg: #0f2b41;

%inter-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%opensans-400 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

%opensans-500 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 500;
}

%opensans-700 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}

%lora-400 {
  font-family: 'Lora', serif;
  font-weight: 500;
}

%lora-500 {
  font-family: 'Lora', serif;
  font-weight: 500;
}
