@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$basic-color-text;
  background-color: vars.$secondary-color-btn;
}

// Promo block

.promo {
  padding: 7px 0 9px;
  text-align: center;
  background-color: vars.$promo-bg-color;
  font-size: 11px;

  &__text {
    @extend %opensans-400;
  }

  &__link:hover {
    color: vars.$black-text-color;
    border-bottom: 1px solid vars.$black-bg-color;
  }
}

// Header

.header {
  padding: 37px 0 35px;
  font-size: 16px;
  color: vars.$basic-dark-color-text;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
  }

  &__lang {
    display: flex;
  }

  &__lang-item {
    text-transform: uppercase;
    transition: color 0.3s ease;

    &--active {
      @extend %opensans-700;
    }

    &:hover {
      color: #696969;
    }
    &:active {
      color: vars.$basic-dark-color-text;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 32px;
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    @extend %opensans-400;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: #696969;
    }
    &:active {
      color: vars.$basic-dark-color-text;
    }
  }
}

// Section top

.top {
  min-height: 879px;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    padding-top: 262px;
  }

  &__title {
    margin-bottom: 33px;
    max-width: 519px;
    @extend %lora-400;
    font-size: 75px;
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
  }

  &__link {
    padding: 12px 38px;
    display: inline-block;
    align-self: flex-start;
    @extend %opensans-400;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }
}

// Section new-collection

.new-collection {
  padding: 150px 0 90px;

  &__inner {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-top: 75px;
    padding-right: 27px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 417px;
    margin-bottom: 23px;
    @extend %lora-400;
    font-size: 45px;
    color: #161515;
  }

  &__text {
    max-width: 403px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    margin-top: auto;
    align-self: flex-start;
    padding: 10px 65px;
    font-size: 16px;
    border: 1px solid vars.$button-bg-color;
    transition: all 0.3s ease;

    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__img {
    padding-top: 75px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    position: relative;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: 404px;
    height: 450px;
  }

  &__box-text {
    margin-top: auto;
    margin-bottom: 68px;
    max-width: 289px;
  }
}

// Section join-us

.join-us {
  background-color: vars.$basic-color-bg;
  color: vars.$secondary-color-text;

  &__inner {
    display: flex;
    gap: 40px;
  }

  &__content {
    margin-top: 94px;
    max-width: 578px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 40px;
    max-width: 540px;
    @extend %lora-400;
    font-size: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    margin-bottom: 20px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$secondary-color-btn;
    @extend %opensans-400;
    font-size: 20px;
    color: vars.$secondary-color-text;
    &::placeholder {
      color: vars.$secondary-color-text;
    }
  }

  &__form-btn {
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    padding: 12px;
    @extend %opensans-400;
    font-size: 20px;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }

  &__form-descr {
    @extend %opensans-400;
    font-size: 11px;
    color: vars.$secondary-color-text;
    text-align: center;
  }
}

// Section david-beckham

.david-beckham {
  &__inner {
    padding: 90px 0 253px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-left: 39px;
    max-width: 541px;
    width: 100%;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
  }

  &__text {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__text--color-bg {
    padding: 20px 27px;
    max-width: 417px;
    @extend %lora-400;
    background-color: vars.$basic-color-bg;
    color: vars.$secondary-color-text;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$button-bg-color;
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }
}

// Section our-advantages

.our-advantages {
  color: vars.$secondary-color-text;
  background-color: vars.$basic-color-bg;

  &__wrapper {
    padding: 60px 0 38px 0;
    position: relative;
  }

  &__img {
    position: absolute;
    left: 39px;
    bottom: 0;
  }

  &__inner {
    max-width: 562px;
    margin-left: auto;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: 45px;
  }

  &__list {
    padding-left: 30px;
    list-style-type: disc;
    columns: 2;
    column-gap: 70px;
  }

  &__item {
    margin-bottom: 30px;
  }
}

// Section our-blog

.our-blog {
  padding: 150px 0 41px;

  &__inner {
    display: grid;
    grid-template-columns: 772px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
  }

  &__title {
    margin-bottom: 15px;
    @extend %lora-400;
    font-size: 45px;
    color: vars.$basic-dark-color-text;
  }

  &__text {
    max-width: 542px;
    font-size: 16px;
    margin-bottom: 70px;
  }

  &__right-box {
    grid-row: span 2;
    max-width: 369px;
    width: 100%;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    margin-bottom: 5px;
    @extend %lora-400;
  }

  &__box-date {
    display: block;
    font-size: 16px;
  }

  &__box-btn {
    margin-top: 95px;
    display: inline-block;
    padding: 10px 107px;
    font-size: 16px;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$button-bg-color;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }
}

// Footer

.footer {
  font-size: 16px;
  background-color: vars.$basic-color-bg;
  color: vars.$secondary-color-text;

  &__menu-list {
    margin-bottom: 50px;
    padding: 55px 0 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid vars.$secondary-color-btn;
  }

  &__elements {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__element-title {
    margin-bottom: 20px;
    @extend %opensans-400;
    color: vars.$secondary-color-text;
    opacity: 0.5;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__element-form {
    width: 253px;
    position: relative;
  }

  &__element-input {
    padding: 1px 30px 5px 0;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$secondary-color-btn;
    color: vars.$secondary-color-text;
    &::placeholder {
      color: vars.$secondary-color-text;
    }
  }

  &__element-btn {
    padding: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__bottom {
    background-color: vars.$black-bg-color;
  }

  &__bottom-inner {
    padding: 7px 75px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__information {
    display: flex;
    gap: 37px;
  }

  &__information-item {
    position: relative;
  }

  &__information-item + .footer__information-item {
    &::before {
      content: '|';
      position: absolute;
      top: 0;
      left: -19px;
    }
  }
}

// Section appointment
.appointment {
  padding: 15px 0 100px;

  &__title {
    margin-bottom: 77px;
    @extend %lora-400;
    color: vars.$basic-dark-color-text;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    margin-bottom: 80px;
    @extend %lora-400;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__form-descr {
    margin-bottom: 30px;
    @extend %opensans-700;
  }

  &__form-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid vars.$basic-color-text;
    color: vars.$basic-color-text;
    &::placeholder {
      color: vars.$basic-color-text;
    }
  }

  &__form-btn {
    margin-top: auto;
    padding: 12px;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    border-radius: 3px;
    text-transform: uppercase;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }
}
