@use 'reset';
@use 'fonts';
@use 'vars';
@use 'global';
@use '../../node_modules/swiper/swiper-bundle.css';
@use '../../node_modules/nouislider/dist/nouislider.css';
@use 'media';

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$basic-color-text;
  background-color: vars.$secondary-color-btn;
  &.scroll-lock {
    overflow: hidden;
  }
}

.close-popup {
  display: none;
}

// Promo block

.promo {
  padding: 7px 0 9px;
  text-align: center;
  background-color: vars.$promo-bg-color;
  font-size: 11px;

  &__text {
    @extend %opensans-400;
  }

  &__link:hover {
    color: vars.$black-text-color;
    border-bottom: 1px solid vars.$black-bg-color;
  }
}

// Header

.header {
  padding: 37px 0 35px;
  font-size: 16px;
  color: vars.$basic-dark-color-text;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__btn {
    display: none;
  }

  &__logo {
    width: 100%;
    text-align: center;
  }

  &__lang {
    display: flex;
  }

  &__lang-item {
    text-transform: uppercase;
    transition: color 0.3s ease;

    &--active {
      @extend %opensans-700;
    }

    &:hover {
      color: #696969;
    }
    &:active {
      color: vars.$basic-dark-color-text;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 32px;
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    @extend %opensans-400;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: #696969;
    }
    &:active {
      color: vars.$basic-dark-color-text;
    }
  }
}

// Section top

.top {
  min-height: 879px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    padding-top: 32vh;
  }

  &__title {
    margin-bottom: 33px;
    max-width: 519px;
    @extend %lora-400;
    font-size: clamp(30px, 6vw, 75px);
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
  }

  &__link {
    padding: 12px 38px;
    display: inline-block;
    align-self: flex-start;
    @extend %opensans-400;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }
}

// Section new-collection

.new-collection {
  position: relative;
  padding: 150px 0 90px;

  &__inner {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;

    img {
      object-position: center;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 75px;
    padding-right: 27px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 417px;
    margin-bottom: 23px;
    @extend %lora-400;
    font-size: clamp(20px, 4vw, 45px);
    color: #161515;
  }

  &__text {
    max-width: 403px;
    font-size: clamp(14px, 3vw, 20px);
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    margin-top: auto;
    align-self: flex-start;
    padding: 10px 65px;
    font-size: 16px;
    border: 1px solid vars.$button-bg-color;
    transition: all 0.3s ease;

    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__img {
    padding-top: 75px;
    object-fit: cover;
    object-position: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    position: relative;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: 404px;
    height: 450px;
  }

  &__box-text {
    margin-top: auto;
    margin-bottom: 68px;
    max-width: 289px;
  }
}

// Section join-us

.join-us {
  background-color: vars.$basic-color-bg;
  color: vars.$secondary-color-text;

  &__inner {
    display: flex;
    gap: 40px;
  }

  &__content {
    margin-top: 94px;
    max-width: 50%;
  }

  &__title {
    margin-bottom: 20px;
    @extend %lora-400;
    font-size: clamp(45px, 4vw, 20px);
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 40px;
    max-width: 540px;
    @extend %lora-400;
    font-size: clamp(30px, 2vw, 16px);
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    margin-bottom: 20px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$secondary-color-btn;
    @extend %opensans-400;
    font-size: 20px;
    color: vars.$secondary-color-text;
    &::placeholder {
      color: vars.$secondary-color-text;
    }
  }

  &__form-btn {
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    padding: 12px;
    @extend %opensans-400;
    font-size: 20px;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }

  &__form-descr {
    @extend %opensans-400;
    font-size: 11px;
    color: vars.$secondary-color-text;
    text-align: center;
  }
}

// Section david-beckham

.david-beckham {
  &__inner {
    padding: 90px 0 253px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-left: 39px;
    max-width: 541px;
    width: 100%;
  }

  &__title {
    @extend %lora-400;
    font-size: clamp(20px, 4vw, 45px);
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
  }

  &__text {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__text--color-bg {
    padding: 20px 27px;
    max-width: 417px;
    @extend %lora-400;
    background-color: vars.$basic-color-bg;
    color: vars.$secondary-color-text;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$button-bg-color;
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }
}

// Section our-advantages

.our-advantages {
  color: vars.$secondary-color-text;
  background-color: vars.$basic-color-bg;

  &__wrapper {
    padding: 60px 0 38px 0;
    position: relative;
  }

  &__img {
    position: absolute;
    left: 39px;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }

  &__inner {
    max-width: 562px;
    margin-left: auto;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: clamp(20px, 3vw, 45px);
  }

  &__list {
    padding-left: 30px;
    list-style-type: disc;
    columns: 2;
    column-gap: 70px;
  }

  &__item {
    margin-bottom: 30px;
  }
}

// Section our-blog

.our-blog {
  padding: 150px 0 41px;

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
  }

  &__title {
    margin-bottom: 15px;
    @extend %lora-400;
    font-size: clamp(20px, 3vw, 45px);
    color: vars.$basic-dark-color-text;
  }

  &__text {
    font-size: clamp(16px, 2vw, 20px);
    max-width: 542px;
    font-size: 16px;
    margin-bottom: 70px;
  }

  &__right-box {
    grid-row: span 2;
    max-width: 369px;
    width: 100%;
  }

  &__box-img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }

  &__box-link {
    margin-bottom: 5px;
    @extend %lora-400;
  }

  &__box-date {
    display: block;
    font-size: 16px;
  }

  &__box-btn {
    margin-top: 95px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$button-bg-color;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }
}

// Footer

.footer {
  font-size: 16px;
  background-color: vars.$basic-color-bg;
  color: vars.$secondary-color-text;

  &__menu-list {
    margin-bottom: 50px;
    padding: 55px 0 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid vars.$secondary-color-btn;
  }

  &__elements {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__element-title {
    margin-bottom: 20px;
    @extend %opensans-400;
    color: vars.$secondary-color-text;
    opacity: 0.5;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__element-form {
    width: 253px;
    position: relative;
  }

  &__element-input {
    padding: 1px 30px 5px 0;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$secondary-color-btn;
    color: vars.$secondary-color-text;
    &::placeholder {
      color: vars.$secondary-color-text;
    }
  }

  &__element-btn {
    padding: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__bottom {
    background-color: vars.$black-bg-color;
  }

  &__bottom-inner {
    padding: 7px 75px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__information {
    display: flex;
    gap: 37px;
  }

  &__information-item {
    position: relative;
  }

  &__information-item + .footer__information-item {
    &::before {
      content: '|';
      position: absolute;
      top: 0;
      left: -19px;
    }
  }
}

// Section appointment

.appointment {
  padding: 15px 0 100px;

  &__title {
    margin-bottom: 77px;
    @extend %lora-400;
    color: vars.$basic-dark-color-text;
    font-size: clamp(20px, 3vw, 45px);
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  &__img {
    object-position: center;
    object-fit: cover;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    margin-bottom: 80px;
    @extend %lora-400;
    font-size: clamp(20px, 3vw, 30px);
    text-transform: uppercase;
  }

  &__form-descr {
    margin-bottom: 30px;
    @extend %opensans-700;
  }

  &__form-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid vars.$basic-color-text;
    color: vars.$basic-color-text;
    &::placeholder {
      color: vars.$basic-color-text;
    }
  }

  &__form-btn {
    margin-top: auto;
    padding: 12px;
    color: vars.$secondary-color-text;
    background-color: vars.$button-bg-color;
    border-radius: 3px;
    text-transform: uppercase;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }
}

// Breadcrumbs

.breadcrumbs {
  padding: 50px 0 90px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    position: relative;
    font-size: 16px;
    transition: all 0.3s ease;
    &::after {
      content: '/';
      position: absolute;
      right: -10px;
    }
    &:last-child::after {
      content: none;
    }
    &:hover {
      color: #696969;
    }
    &:active {
      color: vars.$basic-dark-color-text;
    }
  }
}

// Collections

.top-collections {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.collections {
  &__title {
    margin-bottom: 60px;
    @extend %lora-400;
    font-size: clamp(28px, 4vw, 52px);
    color: vars.$basic-dark-color-text;
    text-transform: uppercase;
  }

  &__inner {
    display: grid;
    grid-template-areas:
      'a a b c'
      'a a d e'
      'f g h h'
      'i j h h';
    gap: 40px;
  }

  &__item {
    position: relative;
    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
      margin-top: -130px;
    }
    &:nth-child(7) {
      grid-area: g;
      margin-top: -130px;
    }
    &:nth-child(8) {
      grid-area: h;
    }
    &:nth-child(9) {
      grid-area: i;
    }
    &:nth-child(10) {
      grid-area: j;
    }
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 6px;
  }
}

// Pagination

.pagination {
  padding: 20px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &__arrow--inactive {
    display: none;
  }

  &__list {
    display: flex;
    gap: 2;
  }

  &__item {
    font-size: 16px;
    color: vars.$basic-dark-color-text;
  }

  &__link {
    display: inline-block;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    background-color: vars.$basic-color-text;
    border-radius: 8px;
    color: vars.$secondary-color-text;
  }
}

// Section product

.product {
  padding-bottom: 156px;
  &__slider-arrow {
    display: none;
  }

  &__inner {
    padding-right: 40px;
    display: grid;
    grid-template-columns: 2fr 1.1fr;
    gap: 40px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    picture:nth-child(2) {
      grid-row: span 2;
    }
    img {
      max-width: max-content;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
    @extend %lora-400;
    font-size: 35px;
    color: vars.$basic-dark-color-text;
    text-transform: uppercase;
  }

  &__price {
    margin-bottom: 30px;
    @extend %opensans-700;
    font-size: 25px;
  }

  &__list {
    margin: 0;
  }

  &__term {
    margin-bottom: 5px;
    text-transform: uppercase;
    @extend %opensans-700;
    font-size: 16px;
    &:first-of-type {
      margin-bottom: 30px;
    }
  }

  &__detalis {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__detalis-text {
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 16px;
  }

  &__buttons {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
  }

  &__btn {
    padding: 9px;
    font-size: 16px;
    border: 1px solid vars.$basic-color-text;
    border-radius: 3px;
  }

  &__btn-sizeGuide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__btn-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__btn-addToBag {
    grid-column: 1 / -1;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__detalis-checkbox {
    display: flex;
    gap: 10px;
  }

  &__detalis-radio {
    display: flex;
    gap: 30px;
  }
}

.radio-label {
  padding-left: 26px;
}

.radio-check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &:checked + .radio-style::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: vars.$basic-color-bg;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.radio-style {
  margin-top: 3px;
  position: absolute;
  margin-left: -26px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid vars.$basic-dark-color-text;
}

.checkbox-label {
  padding-left: 20px;
}

.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &:checked + .check-style::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 1px;
    background-color: vars.$basic-color-bg;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.check-style {
  margin-top: 3px;
  position: absolute;
  margin-left: -20px;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  border: 1px solid vars.$basic-dark-color-text;
}

.look {
  padding-bottom: 90px;

  &__title {
    margin: 0 auto;
    max-width: 890px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid vars.$basic-color-text;
    @extend %lora-400;
    font-size: 30px;
    color: vars.$basic-dark-color-text;
    text-align: center;
    text-transform: uppercase;
  }

  &__slider {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 30px;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  &__slider-slide {
    text-align: center;
  }

  &__slider-img {
    margin-bottom: 20px;
  }

  &__slider-title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__slider-price {
    @extend %opensans-700;
  }

  &__slider-arrow {
    position: absolute;
    top: 38%;
    cursor: pointer;
    z-index: 10;
  }

  &__slider-arrow-next {
    right: 7px;
  }
  &__slider-arrow-prev {
    left: 7px;
  }
}

// Page 404

.page-404 {
  &__container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1562px;
    img {
      object-position: center;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-top: 22vh;
    margin-right: 14px;
    margin-left: 35px;
    max-width: 731px;
    @extend %lora-400;
  }

  &__content-title {
    margin-bottom: 80px;
    font-size: 160px;
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
  }

  &__content-link {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    span {
      font-size: clamp(24px, 3vw, 48px);
      text-transform: uppercase;
      color: vars.$basic-dark-color-text;
      display: inline-block;
      max-width: 621px;
    }
  }
}
.moving {
  opacity: 0.2;
  overflow: hidden;
  &__text {
    @extend %lora-400;
    font-size: 160px;
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 27px;
    animation-duration: 20s;
    animation-name: moving;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// Section Blog

.blog-main {
  &__inner {
    padding: 20px 0;
    border-bottom: 1px solid vars.$basic-color-text;
    border-top: 1px solid vars.$basic-color-text;
    display: flex;
    gap: 40px;
  }

  &__img {
    width: 740px;
    max-width: max-content;
  }

  &__content {
    max-width: 740px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-bottom: 40px;
    align-self: flex-start;
    padding: 8px 24px;
    font-size: 14px;
    color: vars.$basic-dark-color-text;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__title-link {
    @extend %lora-400;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
    color: vars.$button-bg-color;
  }

  &__text {
    font-size: 24px;
    color: vars.$basic-dark-color-text;
    opacity: 0.4;
    max-width: 660px;
    margin-bottom: auto;
  }

  &__content-link {
    align-self: flex-start;
    padding: 32px 64px;
    font-size: 24px;
    text-transform: uppercase;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$basic-color-text;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  .breadcrumbs {
    padding-bottom: 50px;
    &__list {
      justify-content: center;
    }
  }
}

.blog {
  img {
    object-fit: cover;
    object-position: center;
  }
  padding-top: 33px;

  &__nav {
    margin-bottom: 33px;
    display: flex;
    gap: 35px;
    align-items: center;
  }

  &__nav-title {
    margin-right: auto;
    @extend %lora-400;
    font-size: 32px;
    color: vars.$basic-dark-color-text;
  }

  &__search-form {
    position: relative;
    width: 300px;
  }

  &__search-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 31px 14px 3px;
    width: 100%;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  &__search-btn {
    position: absolute;
    top: 8px;
    right: 3px;
  }

  &__nav-btns {
    margin-left: 100px;
    display: flex;
    gap: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-category {
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px 24px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @extend %opensans-400;
    font-size: 14px;
    color: vars.$basic-dark-color-text;
  }

  &__item-title {
    margin-bottom: 8px;
    @extend %lora-500;
    font-size: 24px;
    color: vars.$basic-dark-color-text;
  }

  &__item-date {
    @extend %inter-400;
    font-size: 16px;
    color: rgba(22, 24, 21, 0.4);
  }
}

.select {
  padding: 2px 31px 14px 3px;
  border: none;
  width: 300px;
  color: rgba(0, 0, 0, 0.2);
  appearance: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  &__wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/categories-arrow.svg');
      background-repeat: no-repeat;
      width: 19px;
      height: 18px;
      top: 8px;
      right: 3px;
    }
  }
}

// Section Blog-one

.blog-one {
  margin-bottom: 10px;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
  }

  &__content {
    picture:first-of-type {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    h1 {
      @extend %lora-400;
      color: vars.$basic-dark-color-text;
      font-size: 96px;
      font-size: clamp(26px, 6vw, 96px);
      line-height: 1.2;
      text-transform: uppercase;
    }

    b:first-of-type {
      margin-bottom: 60px;
    }

    b {
      display: inline-block;
      max-width: 1220px;
      margin-bottom: 20px;
      @extend %lora-400;
      font-size: 32px;
      font-size: clamp(24px, 4vw, 32px);
    }

    p {
      font-size: clamp(16px, 2vw, 20px);
    }

    & > p {
      max-width: 1220px;
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 40px;
      @extend %lora-500;
      font-size: 40px;
    }

    picture {
      margin-bottom: 50px;
    }
  }

  &__stats {
    padding: 22px 0 40px;
    display: flex;
    align-items: center;
  }

  &__category {
    margin-right: 40px;
    padding: 8px 24px;
    @extend %inter-400;
    font-size: 14px;
    color: vars.$basic-dark-color-text;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__date {
    margin-right: 22px;
    @extend %inter-400;
    font-size: 18px;
    opacity: 0.3;
    padding-right: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 29px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__stats-list {
    opacity: 0.3;
    display: flex;
    gap: 16px;
  }
  &__stats-item {
    display: flex;
  }

  &__stats-link {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .breadcrumbs {
    padding-bottom: 50px;
    &__list {
      justify-content: center;
    }
  }
}

// Reviews

.reviews {
  &__top {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-title {
    @extend %lora-400;
    font-size: 64px;
    color: vars.$basic-dark-color-text;
  }

  &__top-link {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid vars.$basic-dark-color-text;
  }

  &__item {
    margin-bottom: 20px;
    padding: 40px 50px;
    border: 1px solid rgba(22, 24, 21, 0.15);
  }

  &__item-date {
    margin-bottom: 16px;
    font-size: 14px;
    color: vars.$basic-dark-color-text;
    opacity: 0.4;
  }

  &__item-name {
    margin-bottom: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__item-images {
    display: flex;
    gap: 10px;
  }

  &__item-text {
    margin-bottom: 24px;
    max-width: 902px;
    color: vars.$basic-dark-color-text;
    opacity: 0.8;
  }

  &__slider-box {
    padding-bottom: 60px;
    img {
      object-position: center;
      object-fit: cover;
    }
  }

  &__slider-addreview {
    margin-top: 148px;
    display: inline-block;
    padding: 24px 216px;
    font-size: 16px;
    color: vars.$basic-dark-color-text;
    border: 1px solid vars.$basic-dark-color-text;
    text-transform: uppercase;
    transition: all;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }

  &__slider-nav {
    position: absolute;
    max-width: 1520px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.reviews-swiper {
  margin-bottom: 24px;
  overflow: hidden;
}

.reviews-arrow {
  position: absolute;
  cursor: pointer;
}
.reviews-arrow-prev {
  top: 24px;
  right: 158px;
}
.reviews-arrow-next {
  top: 24px;
  right: 0;
}
.reviews-pagination {
  position: absolute;
  top: 20px;
  right: 44px;
  left: auto;
  width: auto;
  color: #eeeceb;
}

.swiper-pagination-current {
  color: vars.$basic-dark-color-text;
  display: inline-block;
  padding-right: 10px;
}
.swiper-pagination-total {
  display: inline-block;
  padding-left: 10px;
}

.reviews-box {
  margin-bottom: 18px;
  display: flex;
  gap: 10px;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__all {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid vars.$basic-dark-color-text;
  }
}

// Section checkout

.checkout {
  padding-bottom: 48px;
  &__top {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %lora-400;
    font-size: 64px;
    color: vars.$basic-dark-color-text;
  }

  &__content {
    display: flex;
    gap: 80px;
  }

  &__info {
    width: 100%;
  }

  &__info-item + .checkout__info-item {
    margin-top: 80px;
  }

  &__info-title {
    margin-bottom: 32px;
    padding-bottom: 20px;
    @extend %lora-400;
    font-size: 40px;
    color: vars.$basic-dark-color-text;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
  }

  &__info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__info-box-label {
    display: block;
  }

  &__info-box-input {
    margin-top: 12px;
    padding: 32px 26px;
    display: block;
    width: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    font-size: 20px;
    &::placeholder {
      font-size: 20px;
      opacity: 0.4;
    }
  }

  &__info-box-wrapp {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 34px;
    }
  }

  &__info-box-marker {
    &::before {
      content: '';
      background-image: url('../images/icons/delivery-marker.svg');
      background-repeat: no-repeat;
      width: 19px;
      height: 20px;
      top: 67px;
    }
  }

  &__info-box-arrow {
    &::before {
      content: '';
      background-image: url('../images/icons/delivery-arrow.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 16px;
      top: 71px;
    }
  }

  &__info-box-select {
    margin-top: 12px;
    padding: 26px 64px 26px 32px;
    display: block;
    width: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 1);
    font-size: 20px;
    opacity: 0.4;
    appearance: none;
  }

  &__info-radio {
    padding: 26px 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
    @extend %inter-400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .radio-label:has(.radio-check:checked) + .checkout__info-del-price {
    opacity: 1;
  }

  .radio-check:checked + .radio-style + .radio-name {
    opacity: 1;
  }

  .radio-style {
    margin-top: 7px;
  }
  .radio-name {
    font-size: 24px;
    opacity: 0.4;
  }
  .radio-text {
    margin-top: 8px;
    display: block;
    opacity: 0.4;
    font-size: 14px;
  }

  &__info-del-price {
    font-size: 24px;
    opacity: 0.4;
  }

  &__info-box-pay {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info-box-paycard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__info-text {
    margin: 32px 0;
    max-width: 560px;
    @extend %opensans-400;
    font-size: 16px;
    color: rgba($color: vars.$basic-dark-color-text, $alpha: 0.4);
  }

  &__info-btn {
    width: 100%;
    padding: 28px;
    @extend %opensans-400;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: vars.$button-bg-color;
    transition: all 0.3s ease;

    &:hover {
      background-color: #2b2b2c;
    }

    &:active {
      background-color: vars.$button-bg-color;
    }
  }

  &__details {
    min-width: 616px;
  }

  &__details-title {
    margin-bottom: 32px;
    padding-bottom: 20px;
    @extend %lora-400;
    font-size: 40px;
    color: vars.$basic-dark-color-text;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
  }

  &__details-items {
    margin-bottom: 124px;
  }

  &__details-items-line {
    padding: 15px 10px;
    background-color: #cdcdcd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 30px 0;
    margin: 0 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
    display: flex;
    gap: 20px;
  }

  &__item-img {
    min-width: 140px;
    width: 100%;
  }

  &__item-box {
    width: 100%;
    position: relative;
  }

  &__item-title {
    margin-bottom: 40px;
    @extend %lora-400;
    text-transform: uppercase;
  }

  &__item-list {
    text-transform: uppercase;
    font-size: 16px;
  }

  &__item-listbox {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 0;
      text-transform: lowercase;
    }
  }

  &__item-term {
    margin-bottom: 10px;
    @extend %opensans-700;
  }

  &__item-difinition {
    margin-left: 10px;
  }

  &__item-del {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.order {
  margin-top: 124px;
  padding: 60px 40px;
  border: 1px solid rgba($color: #000000, $alpha: 0.4);

  &__title {
    margin-bottom: 32px;
    padding-bottom: 20px;
    @extend %lora-400;
    font-size: 32px;
    color: vars.$basic-dark-color-text;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
  }

  &__list {
    margin-bottom: 80px;
  }

  &__list-box {
    font-size: 24px;
    font-size: 24px;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      opacity: 1;
      font-size: 32px;
      margin-top: 32px;
      margin-bottom: 0;
    }
  }
  &__link {
    display: block;
    text-align: center;
    padding: 30px;
    border: 1px solid vars.$basic-dark-color-text;
    @extend %inter-400;
    font-size: 20px;
    color: vars.$basic-dark-color-text;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      color: #808080;
      border-color: #808080;
    }
  }
}

// Catalog

.catalog {
  &-popup {
    display: none;
  }
  &__top {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__view-mode {
    display: flex;
    align-items: center;
    gap: 30px;
    @extend %opensans-400;
    font-size: 11px;
  }

  .view-mode {
    display: flex;
    gap: 10px;

    &__container--grid {
      display: grid;
    }

    &__container--line {
      display: block;

      .blog__item {
        display: flex;
        margin-bottom: 20px;
      }

      .blog__item-content {
        padding-left: 20px;
      }

      .catalog__content-item {
        display: flex;
        img {
          margin-bottom: 20px;
        }
      }
      .catalog__item-title {
        margin: 0px 50px 0 20px;
      }
    }
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    color: vars.$basic-dark-color-text;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    gap: 40px;
  }

  &__filter {
    width: 270px;
    padding: 20px;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    font-size: 11px;
  }

  &__filter-clean {
    font-size: 12px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: vars.$basic-dark-color-text;
  }

  &__filterbox {
    margin-bottom: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
  }

  &__filterbox-title {
    position: relative;
    margin-bottom: 11px;
    padding-left: 20px;
    @extend %lora-400;
    font-size: 20px;
    color: vars.$basic-dark-color-text;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #000;
      display: block;
    }
  }

  &__filterbox-items {
    column-count: 2;
    column-gap: 40px;
    text-transform: uppercase;
    &--line {
      column-count: 1;
    }
  }

  &__content-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
    font-size: 20px;
  }

  &__content-item {
    text-align: center;
    text-transform: uppercase;
  }

  &__item-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__item-price {
    @extend %opensans-700;
  }

  .checkbox-label {
    display: flex;
    margin-bottom: 15px;
  }

  .check-style {
    margin-top: 0;
    margin-left: -23px;
  }

  .radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.catalog-sort {
  &__wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url('/images/icons/catalog-arrow.svg');
      background-repeat: no-repeat;
      width: 14px;
      height: 9px;
      top: 13px;
      right: 9px;
    }
  }

  &__select {
    width: 205px;
    padding: 5px 21px 5px 9px;
    font-size: 11px;
    border: 1px solid vars.$button-bg-color;
    border-radius: 3px;
    appearance: none;
  }
}

.range {
  width: 218px;

  &__inputs {
    margin-bottom: 35px;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__label {
    position: relative;
    input {
      padding: 10px 10px 10px 40px;
      width: 94px;
      border: 1px solid vars.$basic-color-text;
      display: inline-block;
      background-color: transparent;
      font-size: 11px;
      color: vars.$basic-color-text;
      @extend %opensans-400;
    }
    &::before {
      content: '€';
      position: absolute;
      top: 11px;
      left: 11px;
      width: 8px;
      height: 20px;
      color: vars.$basic-color-text;
    }
  }

  .noUi-target {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: vars.$basic-color-text;
  }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -1px;
    top: -9px;
  }

  .noUi-horizontal .noUi-handle-lower {
    right: -19px;
  }

  .noUi-handle {
    border: 1px solid vars.$basic-color-text;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: none;
  }

  .noUi-handle::after,
  .noUi-handle::before {
    content: none;
  }

  .noUi-horizontal {
    height: 2px;
  }

  &__list {
    margin-bottom: 21px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    @extend %opensans-400;
    color: vars.$basic-color-text;
    font-size: 11px;
  }

  &__item:first-child {
    margin-right: 5px;
    &::before {
      content: '';
      left: 10px;
    }
  }

  &__item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -19px;
      left: 16px;
      width: 1px;
      height: 6px;
      background-color: vars.$basic-color-text;
    }
  }
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba($color: vars.$basic-color-text, $alpha: 0.8);
  &[aria-hidden='false'] {
    display: flex;
  }
  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    height: 90vh;
    overflow: auto;
  }
  &__content {
    position: relative;
    background-color: #fff;
    z-index: 101;
    max-width: 616px;
    width: 100%;
  }
  .order {
    padding: 40px 10px;
    margin-top: 0;
    border: none;
  }
  .order__list {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .order__list-box {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .order__list-box:last-child {
    font-weight: 700;
    margin-top: 0px;
    text-transform: uppercase;
  }
  .order__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .order__link {
    padding: 13px;
    text-transform: uppercase;
  }
  .order__link-now {
    color: #fff;
    background-color: #000;
    padding: 13px;
    text-transform: uppercase;
  }
  .checkout__details-items {
    margin-bottom: 0;
  }
}
