    <footer class="footer">
      <div class="container">
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Catalog</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Collections</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">About</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                <img class="footer__menu-img" src="../images/src/footer-logo.svg" alt="boss logo" />
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Book your appointment</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer__elements">
          <div class="footer__element">
            <p class="footer__element-title">Location</p>
            <address class="footer__element-address">
              Ukraine, Kyiv, <br>
              st. Voitenko, 67
            </address>
          </div>
          <div class="footer__element">
            <p class="footer__element-title">Phones</p>
            <ul class="footer__element-list">
              <li class="footer__element-item">
                <a class="footer__element-link" href="tel:+380676765324">+380 (67) 676 53 24</a>
              </li>
              <li class="footer__element-item">
                <a class="footer__element-link" href="tel:+380678846542">+380 (67) 884 65 42</a>
              </li>
            </ul>
          </div>
          <div class="footer__element">
            <p class="footer__element-title">Emails</p>
            <ul class="footer__element-list">
              <li class="footer__element-item">
                <a class="footer__element-link" href="mailto:office@boss.com">office@boss.com</a>
              </li>
              <li class="footer__element-item">
                <a class="footer__element-link" href="mailto:sales@boss.com">sales@boss.com</a>
              </li>
            </ul>
          </div>
          <div class="footer__element">
            <p class="footer__element-title">Sign-up for our newsletter</p>
            <form class="footer__element-form" action="">
              <input class="footer__element-input" type="text" placeholder="Enter your email">
              <button class="footer__element-btn">
                <svg width="15" height="11">
                  <use xlink:href="../images/sprite.svg#envelope"></use>
                </svg>
              </button>
            </form>
          </div>
          <div class="footer__element">
            <p class="footer__element-title">Social</p>
            <ul class="footer__social-list">
              <li class="footer__social-item">
                <a class="footer__social-link" href="#">
                  <svg width="24" height="24">
                    <use xlink:href="../images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="footer__social-item">
                <a class="footer__social-link" href="#">
                  <svg width="24" height="24">
                    <use xlink:href="../images/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-inner">
            <p class="footer__copy">©Boss. All rights reserved.</p>
            <ul class="footer__information">
              <li class="footer__information-item">
                <a class="footer__information-link" href="#">Privacy Policy</a>
              </li>
              <li class="footer__information-item">
                <a class="footer__information-link" href="#">Refund policy</a>
              </li>
              <li class="footer__information-item">
                <a class="footer__information-link" href="#">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
<script src="js/main.min.js"></script>
</body>

</html>