<div class="pagination">
  <a class="pagination__arrow pagination__arrow--inactive" aria-label="Previous page" href="#">
    <svg width="17" height="17">
      <use xlink:href="images/sprite.svg#arrow-prew"></use>
    </svg>
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">4</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">5</a>
    </li>
  </ul>
  <a class="pagination__arrow" href="#" aria-label="Next page">
    <svg width="17" height="17">
      <use xlink:href="images/sprite.svg#arrow-next"></use>
    </svg>
  </a>
</div>
